<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>

<% content_for :head do %>
  <% if paginated_products.respond_to?(:total_pages) %>
    <%= rel_next_prev_link_tags paginated_products %>
  <% end %>
<% end %>

<div>
  <% if products.empty? %>
      <h6 class="products-title">No se encontraron productos :(</h6>
  <% elsif params.key?(:keywords) %>
      <h6 class="search-results-title">
        <%= t('spree.search_results', keywords: h(params[:keywords])) %>
      </h6>
  <% else %>
     <h6 class="products-title">Nuestros Productos</h6>
  <% end %>
</div>

<% if products.any? %>
  <ul id="products" class="product-list">
    <% products.each do |product| %>
      <% url = spree.product_path(product, taxon_id: @taxon.try(:id)) %>
      <li id="product_<%= product.id %>" class="product-item" itemscope itemtype="http://schema.org/Product">
        <% cache(@taxon.present? ? [I18n.locale, current_pricing_options, @taxon, product] : [I18n.locale, current_pricing_options, product]) do %>
          <div class="product-image-box">
            <%= link_to(render('spree/shared/image', image: product.gallery.images.first, size: :small, itemprop: "image"), url, itemprop: 'url') %>
          </div>
          <%= link_to truncate(product.name, length: 50), url, class: 'product-name', title: product.name %>
          <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <% if price = product.price_for(current_pricing_options) %>
              <span class="product-price" itemprop="price" content="<%= price.to_d %>">
                <%= price.to_html %>
              </span>
            <% end %>
            <span itemprop="priceCurrency" content="<%= current_pricing_options.currency %>"></span>
          </span>
        <% end %>
      </li>
    <% end %>
    <% reset_cycle("classes") %>
  </ul>
<% end %>

<% if paginated_products.respond_to?(:total_pages) %>
  <%= paginate paginated_products %>
<% end %>
